*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color:black;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color: blue;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    border-radius: 60px;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}


